 #aspectimg {
     top: 18px!important;
     left: 580000px!important;
     width: 206px!important;
     height: auto;
     float: center;
     background: transparent url('assets/logo.png') 0% 0% no-repeat padding-box;
     opacity: 1;
     position: absolute;
     left: 50%;
     margin-left: -50%;
     /*50% of your logo width */
     display: block;
 }
 
 #aspectnav {
     top: 0px!important;
     left: 0px!important;
     width: 1366px!important;
     height: 100px!important;
     background: #100217E6 0% 0% no-repeat padding-box !important;
     box-shadow: 0px 3px 6px #00000026 !important;
     opacity: 1;
 }
 
 li.a.aspectsale {
     top: 65px;
     left: 281px;
     width: 49px;
     height: 24px;
     text-align: left;
     font: Bold 20px/24px Roboto;
     letter-spacing: 0.4px;
     color: #FAFAFA;
     text-transform: uppercase;
     opacity: 1;
 }
 
 a.li.aspectEshop {
     top: 65px;
     left: 429px;
     width: 71px;
     height: 24px;
     text-align: left;
     font: Regular 20px/24px Roboto;
     letter-spacing: 0.4px;
     color: #FAFAFA;
     text-transform: uppercase;
     opacity: 1;
 }
 
 #aspectLookBook {
     margin-top: 65px;
     margin-left: 599px;
     width: 1050px;
     height: 24px;
     text-align: left;
     font: Regular 20px/24px Roboto;
     letter-spacing: 0.4px;
     color: #FAFAFA;
     text-transform: uppercase;
     opacity: 1;
 }
 
 #aspectCampaña {
     top: 65px;
     left: 802px;
     width: 98px;
     height: 24px;
     text-align: left;
     font: Regular 20px/24px Roboto;
     letter-spacing: 0.4px;
     color: #FAFAFA;
     text-transform: uppercase;
     opacity: 1;
 }
 
 #aspectLocales {
     top: 65px;
     left: 999px;
     width: 86px;
     height: 24px;
     text-align: left;
     font: Regular 20px/24px Roboto;
     letter-spacing: 0.4px;
     color: #FAFAFA;
     text-transform: uppercase;
     opacity: 1;
 }
 
 ul.mb-auto {
     text-align: center;
 }
 
 #navbarResponsive {
     margin-bottom: rem;
 }